[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=acampbellblack
Group=acampbellblack
WorkingDirectory=/home/acampbellblack/app/src
Environment="PATH=/home/acampbellblack/app/venv/bin"
EnvironmentFile=/home/acampbellblack/.env
ExecStart=/home/acampbellblack/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target